.legenda{
	position: absolute;
	right: 1em;
	bottom: 1em ;
	background: #fff;
	background: rgba(255,255,255,.8);
	width: 13em;
	height: 13em;
	padding: 2em;
	z-index: 1;
	h5{
		margin: 0;
		padding: 0;
		text-align: center;
		text-decoration: underline;
	}
	ul{
		list-style-type: none;
	    padding: 0;
	    margin: 2em auto 0;
	    width: 70%;
	    font-size: .8em;
	    line-height: 3em;
	    li{
	    	position: relative;
	    	padding-left: 3em;
	    }
		li:before{
			content: '';
			position: absolute;
		    top: .5em;
		    left: 0;
			background: #000;
			display: inline-block;
			width: 2em;
			height: 2em;
		}
		li.red:before{
			background: red;
		}
		li.visgraat:before{
			background: url(../images/visgraat.svg) no-repeat;
			background-size: 100%;
		}
	}
}